# {{ template_destpath }}
# {{ ansible_managed }}

proxy_bind                  {{ ansible_default_ipv4.address }};
proxy_buffers               {{ nginx_proxy_buffers|join(' ') }};
proxy_buffer_size           {{ nginx_proxy_buffer_size }};
proxy_busy_buffers_size     {{ nginx_proxy_busy_buffers_size }};

proxy_cache                 {{ nginx_cache_name }};
proxy_cache_convert_head    {{ "on" if nginx_cache_convert_head | bool else "off" }};
proxy_cache_key             {{ nginx_proxy_cache_key }};
proxy_cache_lock            on;
proxy_cache_path            /var/nginx/cache/{{ nginx_cache_name }}
                            levels=2
                            keys_zone={{ nginx_cache_name }}:128m
                            inactive={{ nginx_cache_inactive }};
proxy_cache_use_stale       updating error timeout http_502 http_503 http_504;
proxy_cache_valid 200       {{ nginx_cache_time_default }}s;
proxy_cache_valid 301       {{ nginx_cache_time_default }}s;
proxy_cache_valid 404       {{ nginx_cache_time_404 }}s;
proxy_cache_valid 500       0;
proxy_store_access          user:rw group:rw all:r;

{% if not (nginx_cache_honor_cc and nginx_cache_honor_expires and nginx_cache_honor_cookies) %}
proxy_ignore_headers        {{ "" if nginx_cache_honor_cc | bool else "Cache-Control" }} {{ "" if nginx_cache_honor_expires | bool else "Expires" }} {{ "" if nginx_cache_honor_cookies | bool else "Set-Cookie" }};
{% endif %}

proxy_connect_timeout       {{ nginx_proxy_connect_timeout }};
proxy_read_timeout          {{ nginx_proxy_read_timeout }};
proxy_redirect              {{ "on" if nginx_proxy_redirect | bool else "off" }};
proxy_send_timeout          {{ nginx_proxy_send_timeout }};

proxy_set_header            Host                $http_host;
proxy_set_header            X-Real-IP           $remote_addr;
proxy_set_header            X-Forwarded-For     $proxy_add_x_forwarded_for;
proxy_set_header            X-Forwarded-Proto   $scheme;

{% if nginx_proxy_hide_header is string %}
{% set nginx_proxy_hide_header = nginx_proxy_hide_header.split(' ') %}
{% endif %}

{% for header in nginx_proxy_hide_header -%}
proxy_hide_header           {{ header }};
{% endfor %}

proxy_ssl_name              $host;
proxy_ssl_verify            off;
proxy_ssl_server_name       on;

proxy_ssl_session_reuse     off;
