# {{ ansible_managed }}
# InnoDB options


[mysqld]
innodb_file_per_table           = {{ mysql_innodb_file_per_table }}
innodb_buffer_pool_size         = {{ mysql_innodb_buffer_pool_size }}
innodb_log_buffer_size          = {{ mysql_innodb_log_buffer_size }}
innodb_log_file_size            = {{ mysql_innodb_log_file_size }}
